
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex; 
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;

}
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.sidebar-header img {
    width: 30px;
    height: 30px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar-menu li {
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar-menu li:hover {
    background: #f0f0f0;
}

.sidebar-menu .active {
    background: #c69696;
}


.content {
    padding: 20px;
    margin-left: 300px; 
    width: calc(100% - 250px); 
    overflow-x: hidden; 
}


.content h1 {
    font-size: 24px;
    color: #333;
}


.content input[type="text"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e4a85f;
    border-radius: 5px;
}


.register-complaint {
    background-color: #555;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.view-btn {
    background-color: #ff7961;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%; /* Sidebar takes full width on small screens */
        height: auto;
        position: relative;
    }
    .content {
        margin-left: 0;
        width: 100%;
    }
}
